.route_menu_container {
  width: 60%;
  margin: 0 auto;
  min-height: 2vh;
  margin-top: 10vh;
}
.upload_container {
  width: 60%;
  margin: 0 auto;
  min-height: 2vh;
  margin-bottom: 10vh;
  margin-top: 4vh;
}
.content {
  width: 100%;
  min-height: 1vh;
  margin-bottom: 0;
  margin-top: 0;
}
